.category-container{
    display: flex; 
    .category-table{
        flex: 6; 
        .heading{
           
            padding: 22px; 
            display: flex; 
            justify-content: space-between; 
            h2{
                text-align: center; 
                font-size: 56px; 
                }

           
        } 
    }
}