.billings-table{
    margin: 45px;
     .heading{
        
        margin: 92px;
         display: flex; 
         justify-content: space-between; 
         h2{
             text-align: center; 
             font-size: 56px; 
             }

        
     } 
 }
